@use "variables" as v;
@use 'mixins';



.BookingArticle {

    @include mixins.article() {}


    &___overLay,
    &___overLayOut {
        background: radial-gradient(circle, rgba(7, 54, 9, 0.071) 0%, rgba(0, 0, 0, 0.854) 100%);
        position: absolute;
        z-index: -2;
        height: 100%;
        width: 100%;
    }


    &___overLay {

        animation: Opacity 0.5s ease-in;
    }

    &___overLayOut {


        animation: Out 0.55s ease-in;
    }



    &___backgroundImg {

        object-fit: cover;
        position: absolute;
        z-index: -3;
        height: 100%;
        width: 100%;

    }

}

.BookingContainer,
.BookingContainerOut {
    @include mixins.articleSection() {}
    position: relative;
   




}

.BookingContainer {

    animation: Blur 0.6s ease-in;



}

.BookingContainerOut {

    animation: Out 0.55s ease-in;



}