@keyframes Blur {

    0% {
        filter: blur(25px);

    }

    100% {

        filter: blur(0px);

    }


}


@keyframes Opacity {

    0% {
        filter: opacity(0%);

    }

    100% {

        filter: opacity(100%);

    }


}


@keyframes BlurOpacity {

    0% {
        filter: opacity(0%) blur(25px);;

    }

    100% {

        filter: opacity(100%) blur(0px);

    }


}



@keyframes Out {

    0% {
        filter: opacity(100%) blur(0);

    }

    100% {

        filter: opacity(0%) blur(25px);
        ;

    }


}