@use "variables" as v;
@use 'mixins';

.reserveForm {
    @include mixins.section() {}

    div {
        margin: 1.3rem 0 0 0;
        width: 70%;
        display: flex;
        flex-direction: column;
        color: black;
    }

    label {

        font-size: 1.1rem;

    }

    input,
    input:active,
    input:focus,
    input:autofill {
        background-color: transparent !important;
        font-family: v.$font-one;
        font-size: clamp(12px, 1vw, 16px);
        padding: clamp(0px, 1vw, 0.5rem) 0;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {

        -webkit-text-fill-color: #000000;
        border-bottom: 1px solid black;
        font-family: v.$font-one;
        transition: background-color 5000s ease-in-out 0s;

    }

    &___btn {
        margin-top: clamp(30px, 3vw, 40px);
        display: flex;
        width: 70%;
        flex-direction: row;
        justify-content: space-around;

        button {

            @include mixins.button() {}


        }

    }
    &___error{

min-height: 20px;
font-size: 16px;
margin-top: 15px;
p{
margin: 0;
    padding: 0;
}
    }
    &___gdpr{
       
label{
        font-size: clamp(10px, 1vw,12px);
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}


    }


}