$background-light: radial-gradient(circle, white 0%, white 70%, rgba(112, 84, 46, 0.438) 100%);
$background-dark-hollow: rgb(8,14,3);
$primary-color: rgb(33, 54, 16);
$secondary-color: rgb(135, 153, 127);
$shadow: rgb(0, 0, 0);
$border: rgb(128, 128, 128);
$text-ligth:rgb(255, 255, 255);
$font-one: 'Courier New', Courier, monospace;


